*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 900px;
}

#seconds{
    font-size: 2rem;
    font-weight: bold;
}

span{
    font-weight: bold;
    font-size: 2rem;
    word-spacing: 5px;
}

.input{
    width: 80px;
}

submit{
    flex-wrap: wrap;
}